html,
body,
textarea,
input,
button,
select,
td,
th {
    font-size: max(1.6vmin, 16px);
    font-weight: 300;
    font-family: "MiSans", "Microsoft Yahei", "PingFang SC", Tahoma, Arial, Helvetica, Sans-Serif;
}

a,
a:active {
    color: inherit;
    text-decoration: none;
}

body,
.view {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.unify {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    border-radius: 0;
    margin: 0;
}

.unselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.grid-horizontal {
    display: grid !important;
    padding: 0;
    grid-auto-flow: row;
}

.grid-vertical {
    display: grid !important;
    padding: 0;
    grid-auto-flow: column;
}

.flex-horizontal {
    display: flex !important;
    padding: 0;
    flex-direction: row;
}

.flex-vertical {
    display: flex !important;
    padding: 0;
    flex-direction: column;
}

.fc,
.flex-horizontal>.fill,
.flex-vertical>.fill {
    position: relative;
    flex-grow: 1;
    min-width: 0px;
    min-height: 0;
}

.info .fc {
    height: 100%;
    margin: 0;
}

ul.fc.scroll li {
    background: azure;
}

ul.fc.scroll li:nth-child(even) {
    background: #ebebed;
}

.hide {
    display: none !important;
}

::-webkit-scrollbar {
    background-color: #00000000;
    width: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: 0.5rem;
}

#web-loading {
    position: fixed;
    display: flex;
    place-content: center;
    place-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}