body {
	background-color: #000;
	color: #fff;
	line-height: 1px;
}


#canvas {
	background-color: #fff;
}

#t {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 50%;
	border: none;
	font-family: "微软雅黑";
}

li {
	display: block;
	height: 1px;
}

div {
	display: inline-block;
	position: relative;
	width: 1px;
	height: 1px;
	line-height: 1px;
}