#drawer,
#alert {
    color: var(--color-text);
    place-content: center;
    place-items: center;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
}

.drawer-box,
.alert-box {
    position: relative;
    overflow: hidden;
    padding: 0 .2rem 0 0;
    width: 900px;
    height: 600px;
    max-width: 90%;
    max-height: 90%;
    border-radius: .5rem;
    background-color: var(--background-box);
    /* box-shadow: var(--value-box-shadow); */
}

@keyframes toastbackground {
    0% {
        display: block;
        opacity: 1;
    }

    80% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.alert-box {
    padding: 0 1rem;
    width: 600px;
    height: 20rem;
}

.alert-box .title {
    /* margin-bottom: 1rem; */
    font-size: 1.2rem;
    line-height: 3rem;
}

.alert-box label.icon-box {
    position: relative;
    overflow: hidden;
    width: 10rem;
}

.alert-box .icon {
    place-items: center;
    place-content: center;
}

.alert-box .icon img {
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    box-shadow: var(--value-box-shadow);
}

.alert-box .fc.input {
    margin: 0;
    padding: 0;
    list-style: none;
}

.alert-box .fc>label {
    position: relative;
    height: 4rem;
    list-style: none;
}

.alert-box .fc input,
.alert-box .fc input+b {
    position: absolute;
    bottom: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1.8rem;
    outline: none;
    border: none;
    text-indent: .4rem;
    font-size: .8rem;
    line-height: 1.8rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.alert-box .fc input+b {
    color: #797979;
    font-weight: 300;
    transition: all 100ms ease-out;
}

.alert-box .fc input+b.foucs,
.alert-box .fc input:focus+b {
    bottom: 1.8rem;
    padding: 0;
    color: #000;
    text-indent: 0;
    font-weight: 400;
    font-size: .7rem;
}

.alert-box .button-bar {
    margin-top: 1rem;
}

#toast {
    position: fixed;
    bottom: 10rem;
    left: 25%;
    display: none;
    overflow: hidden;
    padding: .5rem;
    width: 50%;
    max-height: 10rem;
    border-radius: .5rem;
    background-color: var(--background-box);
    box-shadow: var(--value-box-shadow);
    line-height: 1.5rem;
    /* animation: toastbackground 6s ease-out 0s; */
}

#menu-list {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    max-width: 50%;
    min-width: 300px;
    background-color: var(--background-menu-list);
    font-weight: bolder;
}

#menu-list>li {
    overflow: hidden;
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    line-height: 3rem;
    cursor: pointer;
}

#menu-list>li:hover {
    background-color: var(--background-menu-list-hover);
}

#menu-list>li>.selected {
    width: 4px;
}

#menu-list>li.light>.selected {
    margin: .5rem 0;
    background-color: var(--background-switch-select);
}

#menu-list>li>.icon {
    width: 3rem;
    text-align: center;
}


.menu-title {
    position: relative;
    height: 3rem;
    text-align: center;
    font-size: 1.3rem;
}

.menu-title>span#title {
    position: absolute;
    top: 0;
    left: 20%;
    display: none;
    width: 60%;
    height: 3rem;
    line-height: 3rem;
}

a#close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: var(--color-text);
    text-align: center;
    text-shadow: none;
    font-size: 1.2rem;
    line-height: 40px;
    transition: transform 100ms ease-in;
}

a#close:hover {
    background: var(--background-button-hover);
    transform: rotate(90deg);
}



@media screen and (max-width: 800px) {
    #menu-list {
        display: none;
    }

    .menu-title>span#title {
        display: block;
    }
}


/**
 * 右侧功能设置栏
 */
#context {
    overflow: hidden scroll;
}

.block {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0 1rem;
    height: auto;
    min-height: 100%;
    flex-direction: column;
}

.block>* {
    position: relative;
    margin: .3rem 0;
    line-height: 30px;
}

.block.content {
    /* margin: 0 2rem 0 0; */
    padding: 0;
    border-radius: .5rem;
    background: var(--background-content);
}

.block>*.main-title {
    height: 3rem;
    font-weight: bolder;
    font-size: 1.4rem;
    line-height: 3rem;
}

.block>*.sub-title {
    height: 35px;
    color: var(--color-sub-title);
    font-size: 1.2rem;
    line-height: 35px;
}

.block .long_text {
    margin: 0 0 .3rem 0;
    color: var(--color-long-text);
    font-size: .8em;
    line-height: 2em;
}

.block.content>:not(.radio-list) {
    display: flex;
    padding: 0 1rem;
    min-height: 35px;
    line-height: 35px;
    flex-direction: column;
}

.block.content>label {
    cursor: pointer;
}

*.switch span,
*.switch .check-switch {
    vertical-align: middle;
}

.check-switch {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 39px;
    height: 20px;
    outline: none;
    border-radius: 20px;
    background-color: var(--background-switch);
    /* box-shadow: #dfdfdf 0 0 1px inset; */
    vertical-align: middle;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.check-switch::after {
    position: absolute;
    top: 0;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: var(--value-box-shadow);
    content: "";
}

.check-switch:checked {
    background-color: var(--background-switch-select);
}

.check-switch:checked::after {
    left: 19px;
}

#drawer *.input input[type=text] {
    display: inline-block;
    /* margin-left: 1rem; */
    outline: none;
    border: none;
    text-align: center;
    /* border-bottom: 1px solid #000; */
    background: var(--background-button);
    font-weight: bold;
}

#drawer *.input input[type=text]:focus+.select {
    display: block;
}

.subtitle-bar {
    position: relative;
    display: flex;
    /* overflow: hidden; */
    height: 35px;
    white-space: nowrap;
    word-wrap: normal;
    place-content: center;
    place-items: center;
}

.subtitle-bar .text {
    flex-grow: 1;
}

#drawer .subtitle-bar>input[type=button],
#drawer .subtitle-bar>input[type=submit],
#drawer .subtitle-bar>.input-box,
#drawer .subtitle-bar>.custom-button,
#drawer .subtitle-bar>.custom-button::after {
    position: relative;
    right: 0;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    width: 6rem;
    height: 1.7rem;
    line-height: 1.7rem;
    border: none;
    border-radius: 5px;
    background: none;
    box-shadow: var(--value-box-shadow);
    background-color: var(--background-button);
    color: var(--color-text);
    content: "\9009\62e9\6587\4ef6";
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre;
    cursor: pointer;
    -moz-appearance: button;
    -webkit-appearance: button;
    appearance: button;
    -webkit-user-select: none;
    user-select: none;
    align-items: flex-start;
}

#drawer .subtitle-bar>input[type=button]:hover,
#drawer .subtitle-bar>input[type=submit]:hover,
#drawer .subtitle-bar>.custom-button:hover::after,
#drawer .subtitle-bar>.custom-button:hover {
    border-color: var(--color-border-hover);
    background-color: var(--background-button-hover);
}

#drawer .subtitle-bar>input[type=button]:active,
#drawer .subtitle-bar>input[type=submit]:active,
#drawer .subtitle-bar>.custom-button:active::after,
#drawer .subtitle-bar>.custom-button:active {
    border-color: #797979;
    background-color: #f4f4f4;
}

#drawer .subtitle-bar>.custom-button::after {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
}

#drawer .subtitle-bar>.input-box {
    overflow: visible;
}

#drawer .subtitle-bar>.input-box>* {
    border-radius: 5px;
    outline: none;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#drawer .subtitle-bar>.input-box>ul.select {
    /* touch-action: none; */
    /* color: transparent; */
    display: none;
    height: auto;
    top: 100%;
    z-index: 10;
    position: absolute;
    top: 26px;
    height: auto;
    background-color: tan;
}

#drawer .subtitle-bar>.input-box>ul.select>li {
    list-style: none;
}

#alert input[type=file] {
    opacity: 0;
}

label>input[type=file]+span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-box);
}

.perview {
    width: 100px;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fill, 90px);
}

.perview a span.bg {
    /* border: 1px solid #1e1e1e; */
    background-image: url(/icons/link.png);
}

.image-select-box {
    /* place-content: center; */
    /* place-items: center; */
    line-height: 1.5rem;
    overflow: hidden;
}

.bgPreviewBox {
    margin-bottom: 8px;
    width: 135px;
    height: 90px;
    background-color: var(--background-box);
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 1rem;
}

.bgPreBoxInner,
.bgPreBoxMask {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    transition: .25s;
}

.bgPreBoxInner.selected,
.bgPreBoxInner.unset {
    pointer-events: none;
}

.title-bold {
    font-size: 1rem;
    font-weight: 700;
}

.pTitleS {
    font-size: 13px;
    color: rgba(0, 0, 0, .6);
}

.perview a span.title {
    color: #000;
    text-shadow: none;
}

.right {
    text-align: right;
}

#menu-list::-webkit-scrollbar,
#context::-webkit-scrollbar {
    width: .2rem !important;
}

#menu-list,
#context {
    /* Firefox */
    scrollbar-width: thin !important;
    scrollbar-color: var(--background-scrollbar-thumb) transparent;
}

#menu-list::-webkit-scrollbar-thumb,
#context::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: var(--background-scrollbar-thumb);
}

.array-list ul.list,
.object-list ul.list {
    display: flex;
    margin: 1rem .3rem;
    padding: 0;
    flex-direction: column;
}

ul.list li {
    display: flex;
    padding: 0;
    background-color: var(--background-button);
    line-height: 2rem;
}

ul.list li:hover {
    background-color: var(--background-button-hover);
}

li .showIn {
    position: relative;
    overflow: hidden;
    margin: 0 .5rem;
    width: 2rem;
}

.array-list li>.showIn>img {
    position: absolute;
    background-color: var(--background-search);
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-radius: .2rem;
}

.array-list li .showIn {
    width: 2rem;
    height: 2rem;
}

.object-list li .showIn::after {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    border-radius: 13px;
    background-color: var(--background-switch);
    color: var(--color-switch);
    content: attr(data-index);
    text-align: center;
    font-weight: 400;
    line-height: 24px;
}

.object-list li .showIn[data-index]::after {
    background-color: var(--background-switch-select);
}

ul.list li button {
    width: 3rem;
    border: none;
    background: none;
    color: var(--background-button);
}

ul.list li button:hover {
    background-color: var(--background-button-hover);
    color: var(--color-text);
}

.button-bar {
    margin-top: .3rem;
    text-align: right;
}

form.radio-list {
    display: flex;
    min-height: 30px;
}

label.radio {
    position: relative;
    color: #3C92DC;
    text-align: center;
}

label.radio.default {
    color: #3C92DC;
}

label.radio.dark {
    color: #2a2a2a;
}

label.radio input[type=radio] {
    opacity: 0;
}

label.radio>div {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    margin-top: 0;
    width: 30px;
    height: 100%;
    overflow: hidden;
}

label.radio>div>span {
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-list {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    gap: 10px;
    margin: 10px 0;
    place-content: center;
    place-items: center;
}

.image-list>span {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1920/1080;
    font-family: "Font Awesome 6 Pro";
    font-weight: 400;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
}

.image-list>span.selected::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000078;
}

.image-list>span.selected::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\f058";
    color: #fff;
    text-align: center;
    font-size: 3rem;
    /* z-index: 1; */
}