body,
body[theme=default] {
	--value-text-shadow: 0 0 .1rem #000;
	--value-box-shadow: 1px 1px 3px rgb(158, 158, 158);
	--text-shadow: #3d0505c9;
	--color-transparent: transparent;
	--color-text: #000;
	--color-link: #fff;
	--color-list: #000;
	--color-quickdelete: #73798d;
	--color-list-icon: darkgray;
	--color-switch: aliceblue;
	--color-list-icon-hover: darkturquoise;
	--color-search-button: rgb(68, 123, 201);
	--color-search-button-hover: rgb(45, 83, 136);
	--color-sub-title: rgb(1, 21, 63);
	--color-long-text: #353535;
	--color-border: #757575;
	--color-border-hover: #4f4f4f;
	--background-view: #00000040;
	--background-search: #efeff4;
	--background-tips: rgba(255, 255, 255, 0.568);
	--background-button: #f0f0f0;
	--background-button-hover: #e5e5e5;
	--background-scrollbar-thumb: rgba(45, 83, 136, 0.37);
	--background-hover: #ffffffaf;
	--background-switch-select: #368DEB;
	--background-switch: #98c6f8;
	--background-about: #21262881;
	--background-box: #efefef;
	--background-menu-list: rgb(233, 233, 233);
	--background-menu-list-hover: rgb(211, 211, 211);
	--background-content: #e1e1e1;
	--grayscale: grayscale(0);
}

body[theme=dark] {
	--value-text-shadow: 0 0 .1rem #000;
	--value-box-shadow: 1px 1px 3px rgb(158, 158, 158);
	--text-shadow: #3d0505c9;
	--color-transparent: transparent;
	--color-text: #ffffff;
	--color-link: #fff;
	--color-list: #eae1e1;
	--color-quickdelete: #c3c6d1;
	--color-list-icon: darkgray;
	--color-switch: aliceblue;
	--color-list-icon-hover: #95c4c4;
	--color-search-button: rgb(222 236 255);
	--color-search-button-hover: rgb(45, 83, 136);
	--color-sub-title: rgb(208 208 208);
	--color-long-text: #c7c7c7;
	--color-border: #757575;
	--color-border-hover: #4f4f4f;
	--background-view: rgb(0 0 0 / 80%);
	--background-search: #616161;
	--background-tips: rgb(135 135 135 / 57%);
	--background-button: #404040;
	--background-button-hover: #686868;
	--background-scrollbar-thumb: rgba(45, 83, 136, 0.37);
	--background-hover: #6f6c6caf;
	--background-switch-select: #aaaaaa;
	--background-switch: #464747;
	--background-about: #21262881;
	--background-box: #524e4e;
	--background-menu-list: rgb(83 83 83);
	--background-menu-list-hover: rgb(118 118 118);
	--background-content: #595959;
	--grayscale: grayscale(80%);
}

body>.view {
	background-color: var(--background-view);
}

.background,
.background .wallpaper {
	touch-action: none;
	pointer-events: none;
	backface-visibility: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	background-attachment: fixed;
	background-blend-mode: darken;
	background-position: center center;
	transition: transform 0.2s linear;
}

.focus .background {
	transform: scale(1.06);
	filter: blur(.1rem);
}

#main {
	grid-template-columns: 1fr 5rem;
	grid-template-rows: 3rem 1fr 2fr 3rem;
	color: white;
}

#weather {
	grid-area: 1/1/2/2;
}

#menu {
	position: relative;
	grid-area: 1/2/2/3;
	text-align: right;
	line-height: 3rem;
	cursor: pointer;
}

#menu .round-button {
	background-color: transparent;
	cursor: pointer;
	color: var(--color-link);
	border-radius: 1rem;
	margin: 0 0.5rem;
	width: 2rem;
	height: 2rem;
	border: none;
}

#menu:hover .round-button {
	background-color: var(--background-button);
	color: var(--color-text);
}

#search {
	position: relative;
	grid-area: 2/1/3/3;
}

#main.hide-links #search,
body.focus #search {
	grid-area: 2/1/4/3;
}

label#search-box {
	position: absolute;
	width: 25rem;
	max-width: 98%;
	height: auto;
	top: 6rem;
	left: 50%;
	min-width: 25rem;
	transform: translate(-50%, 0);
	transition: width 100ms ease-in-out, border-radius 100ms ease-in-out;
	background-color: #c9c9c924;
	overflow: hidden;
	border-radius: 2rem;
}

label#search-box span.bg.button {
	display: none;
	vertical-align: middle;
}

label#search-box span.bg.button>.s_btn {
	width: 3rem;
	height: 3rem;
	line-height: 2rem;
	font-size: 1.4rem;
	color: #5a6b92;
	color: var(--color-search-button);
}

label#search-box span.bg.button>.s_btn:hover {
	color: #254285;
	color: var(--color-search-button-hover);
}


#main.hide-links #search-box {
	width: 30rem;
	top: calc((100% - 36rem) / 2);
}

body.focus label#search-box,
body.focus #main.hide-links #search-box,
label#search-box:hover,
#main.hide-links label#search-box:hover {
	width: 37rem;
	border-radius: .8rem;
	box-shadow: 0 0 0 .1rem rgb(0 0 0 / 10%), 0 .2rem 4px .1rem rgb(0 0 0 / 18%);
}

body.focus label#search-box span.bg.button,
label#search-box:hover span.bg.button {
	display: initial;
}

#search-box .input-box {
	margin: 0;
}

#word {
	height: 3rem;
	font-weight: 400;
	font-size: 1.2rem;
	padding: 0 0 0 1rem;
	color: var(--color-text);
}

#word+a.quickdelete {
	position: relative;
	width: 2rem;
	height: 3rem;
}

a.quickdelete::before,
a.quickdelete::after {
	content: "";
	position: absolute;
	width: 70%;
	height: 6%;
	top: 47%;
	left: 15%;
	border-radius: 1rem;
	transform: rotate(45deg);
	background-color: var(--color-quickdelete);
}

a.quickdelete::after {
	transform: rotate(-45deg);
}

#search ul.search-list {
	--stroke-color: #434343;
	list-style: none;
	padding: 0;
	text-shadow: -1px -1px 1px var(--stroke-color), 1px -1px 1px var(--stroke-color),
		-1px 1px 1px var(--stroke-color), 1px 1px 1px var(--stroke-color),
		-1px 0px 1px var(--stroke-color), 1px 0px 1px var(--stroke-color),
		0px 1px 1px var(--stroke-color), 0px -1px 1px var(--stroke-color);
}

#search ul.search-list>li {
	line-height: 3rem;
	padding: 0 1rem;
	overflow: hidden;
}

#search ul.search-list>li:hover {
	background-color: #6293c73d;
}

#links {
	position: relative;
	grid-area: 3/1/4/3;
	place-content: center;
	place-items: center;
	overflow: hidden;
}

#main.hide-links #links {
	display: none !important;
}

body.focus>#main>#links {
	pointer-events: none;
	filter: blur(.2rem);
}

#links>#scroll {
	width: auto;
	max-width: 75%;
	height: 80%;
	scrollbar-width: none;
	overflow: hidden scroll;
	place-items: center;
	place-content: start space-around;
	/* grid-row-gap: 1rem; */
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
}

#links>#scroll::-webkit-scrollbar {
	width: 0 !important;
	background: none !important;
	display: none !important;
}

.bg {
	background-color: var(--background-search);
	background-size: contain;
}

.bg.transparent {
	background-color: transparent;
}

.preview>a,
#links>#scroll>a {
	position: relative;
	display: flex;
	min-width: 6rem;
	height: 6rem;
	flex-direction: column;
	place-items: center;
	place-content: center;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	/* aspect-ratio: 1; */
	text-shadow: 0 0 5px var(--text-shadow);
	transition: transform 100ms ease-in-out;
}

#links>#scroll>a.dragging {
	opacity: 0.5;
	transform: scale(1);
}

#links>#scroll>a:hover {
	transform: scale(1.2);
}

.preview>a>span.bg,
#links>#scroll>a>span.bg {
	width: 3rem;
	height: 3rem;
	margin: 0.5rem;
	border-radius: 23%;
	filter: var(--grayscale);
}

.preview>a>span.title,
#links>#scroll>a>span.title {
	font-size: 0.8rem;
	text-overflow: ellipsis;
	/* -webkit-text-stroke: 0.1px black; */
	white-space: nowrap;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

#about {
	position: relative;
	grid-area: 4/1/5/3;

	font-size: 0.8rem;
	justify-content: space-evenly;
	place-items: center;
}

#main.hide-icp>#about {
	display: none !important;
}


.dialog {
	display: flex;
	color: var(--color-text);
	padding: 0;
	place-content: center;
	place-items: center;
}

.dialog>.dialog-box {
	position: relative;
	min-width: 10rem;
	max-width: 90%;
	min-height: 10rem;
	max-height: 90%;
	overflow: hidden;
	background-color: var(--background-search);
	border-radius: 1rem;
	box-shadow: var(--value-box-shadow);
}

.dialog>.dialog-box>.top {
	width: 100%;
	line-height: 3rem;
	font-weight: 500;
}

.dialog>.dialog-box>.top>.title {
	padding-left: 1rem;
	user-select: none;
}

.dialog>.dialog-box>.top>.title>.help-hover {
	margin-left: 1rem;
}

.dialog>.dialog-box>.top>.button-box {
	padding: 0 1rem;
}

.dialog>.dialog-box>.dialog-content {
	position: relative;
	flex-grow: 1;
	width: 100%;
	height: 100%;
	color: var(--color-link);
	background-color: var(--background-view)
}

#link-manager>.dialog-box {
	width: 40rem;
	height: 18rem;
}


#link-manager .preview {
	width: 7rem;
	height: 100%;
	place-content: center;
	place-items: center;
}

.preview>a>span.bg {
	background-image: url(/mediae/icons/24d2dcee7c1a84a8a889a3ff87f18971.jpeg);
}

.input-box {
	/* padding: 0 1rem 0 0; */
}

.input-box>.subtitle {
	font-size: 0.8rem;
	line-height: 1.6rem;
}

.input-box>.input {
	position: relative;
}

.input-box>.input>input[type=text],
.input-box>.input>input[type=url] {
	color: var(--color-link);
	border-bottom: 1px solid var(--color-link);
	font-family: monospace;
}

.input-box>.input>input[type=text]:read-only {
	/* border-bottom: 1px solid #cecece; */
}