body.theme-default {
    --theme-background-color: #ebebeb;
    --theme-text-color: #123;
}

body {
    color: var(--theme-text-color);
    background-color: var(--theme-background-color);
}

@font-face {
    font-family: 'Fira Sans';
    src: local("FiraSans-Regular"), url(/fonts/FiraSans-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* 横屏设备 */
@media screen and ((orientation: landscape) and (width >=1200px)) {
    div.rsvp {
        display: flex;
        flex-direction: row
    }

    .out-box {
        width: 70%
    }

    .in-box {
        width: 30%;
        padding: 10px 10px 10px 0
    }
}

/* 竖屏设备 */
@media screen and ((orientation: portrait) or (width <=1200px)) {
    div.rsvp {
        display: flex;
        flex-direction: column
    }

    .out-box {
        width: 100%
    }

    .out-box>.dashboard>.info {
        display: none !important
    }

    .in-box {
        width: 100%;
        padding: 0 10px 10px;
        flex-grow: 1
    }
}

.out-box {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
    user-select: none
}

.out-box>#player.content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px
}

.center {
    grid-template: 1fr / 1fr;
    place-content: center;
    place-items: center;
}

.center .fill {
    grid-area: 1 / 2;
    position: relative;
    width: 100%;
    height: 100%;
}

video.video {
    background-color: #ffffff;
}

.controls>.layer-tooltip {
    place-content: center;
    place-items: center;
}

.controls .tooltip {
    width: 90px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background: #000000ad;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 0 5px;

    &>img {
        width: 35px;
    }
}

.controls>.bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .76) 40%, rgba(0, 0, 0, .76))
}

.cda {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    border: none;
    border-radius: 0;
    background-color: transparent
}

.progress-bar {
    height: 1.6rem;
    margin: 0 10px;
    display: flex;
    place-items: center;
    place-content: center;
    cursor: pointer
}

.progress-bar>.progress {
    --played: 0;
    --buffered: none;
    --buffered-color: #ffffff8a;
    --radius: 2px;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    margin: 0;
    border: none;
    border-radius: var(--radius);
    overflow: hidden;
    background-color: rgb(255 255 255 / 30%);
}

.progress-bar>.progress::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: var(--radius);
    background: var(--buffered);
}

.progress-bar>.progress::after {
    content: '';
    position: absolute;
    width: var(--played);
    top: 0;
    left: 0;
    height: 100%;
    border-radius: var(--radius);
    background-color: rgb(10, 135, 218);
}

.progress-bar:hover>.progress {
    height: 6px
}

.controls>.bottom.min {
    height: 1px;

    .progress-bar {
        margin: 0;

        .progress {
            --radius: 0;
        }
    }
}

.buttons {
    flex-grow: 1;
    display: flex;
    position: relative;
    padding: 0 10px
}

.controls .buttons .bt {
    position: relative;
    display: inline-block;
    width: auto;
    height: 2.6rem;
    line-height: 2.6rem;
    color: #ffffff;
    word-wrap: normal;
    white-space: nowrap;
    margin: 0 2px
}

.controls .buttons .bt>img {
    width: 1.4rem;
    height: 100%
}

.controls .buttons .bt.bt-play {
    display: inline-flex
}

.bpx-player-ctrl-time-label {
    padding: 0 10px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-variant-numeric: tabular-nums;
    font-family: 'Fira Sans', sans-serif
}

.volume-box {
    position: absolute;
    width: 50px;
    height: 160px;
    left: -15px;
    bottom: 4rem;
    background-color: #2b2b2b;
    border-radius: 6px;
    text-align: center;
    line-height: 2rem;
}

.volume-bar {
    position: absolute;
    left: 5%;
    top: 3px;
    width: 90%;
    height: 116px;
    cursor: pointer;

    .thumb {
        position: absolute;
        background: white;
        width: 6%;
        left: 47%;
        overflow: visible;
        pointer-events: none;


        .thumb-dot {
            position: absolute;
            width: 16px;
            height: 16px;
            left: calc(50% - 8px);
            top: 100px;
            border-radius: 10px;
            background-color: #ffffff;
        }
    }
}

.out-box>.dashboard {
    flex-grow: 1;
    padding: 0 10px 10px;
    overflow: hidden auto
}

.out-box>.dashboard,
.video-layer {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.video-layer {
    width: 100%;
    aspect-ratio: 1920/1080;
    background-color: rgb(0 0 0);
    border: 1px solid #000;
}

.video-layer:fullscreen {
    background-color: #000
}

.in-box {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard label[type=file] {
    margin: 0 5px;
}

.url-box,
label[type=button],
label[type=file] {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 5rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border: 1px solid #123;
}

label[type=button]>input[type=button],
label[type=button]>span,
label[type=file]>input[type=file],
label[type=file]>span {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: none;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    display: inline-block
}


.url-box>.bt-play {
    border-width: 0 0 0 1px;
    margin: 0;
}

.hide {
    display: none !important
}

.box {
    position: relative;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px
}

.box.mt {
    margin-top: 10px
}

.box.mb {
    margin-bottom: 10px
}

.address {
    line-height: 2rem;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden
}

.address input {
    appearance: none;
    border-radius: 0;
    outline: none;
    border: none;
    border-bottom: 1px dashed #000;
    margin: 3px 10px;
    font-family: Consolas, monospace
}

.address input:focus {
    border-bottom: 1px solid #000
}

.address button {
    margin: 3px 0
}