body.theme-default {
    --theme-background-color: #efefef;
    --theme-text-color: #123;
}

body {
    color: var(--theme-text-color);
    background-color: var(--theme-background-color);
}

@font-face {
    font-family: 'Fira Sans';
    src: local("FiraSans-Regular"), url(/fonts/FiraSans-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@media (min-aspect-ratio:10/9) {
    div.rsvp {
        display: flex;
        flex-direction: row
    }

    .out-box {
        width: 70%
    }

    .in-box {
        width: 30%;
        padding: 10px 10px 10px 0
    }
}

@media (max-aspect-ratio:10/9) {
    div.rsvp {
        display: flex;
        flex-direction: column
    }

    .out-box {
        width: 100%
    }

    .out-box>.dashboard>.info {
        display: none !important
    }

    .in-box {
        width: 100%;
        padding: 0 10px 10px;
        flex-grow: 1
    }
}

.view {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    overflow: hidden
}

.fc {
    position: relative;
    flex-grow: 1
}

.out-box {
    display: flex;
    flex-direction: column;
    user-select: none
}

.out-box>#player.content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px
}

.controls>.bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .76) 40%, rgba(0, 0, 0, .76))
}

.cda,
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    border: none;
    border-radius: 0;
    background-color: transparent
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #ffffff
}

input[type=range]::-webkit-slider-container {
    height: 20px;
    overflow: hidden
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #006aff;
    margin-top: -3px
}

.progress-bar {
    height: 1.6rem;
    margin: 0 10px;
    display: flex;
    place-items: center;
    place-content: center;
    cursor: pointer
}

.progress-bar>.progress {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: hsla(0, 0%, 100%, .27)
}

.progress-bar>.progress>.played {
    width: 0;
    border-radius: 2px;
    background-color: #fff
}

.progress-bar:hover>.progress {
    height: 6px
}

.buttons {
    flex-grow: 1;
    display: flex;
    position: relative;
    padding: 0 10px
}

.controls .buttons .bt {
    position: relative;
    display: inline-block;
    width: auto;
    height: 2.6rem;
    line-height: 2.6rem;
    color: #fff;
    word-wrap: normal;
    white-space: nowrap;
    margin: 0 2px
}

.controls .buttons .bt>img {
    width: 1.4rem;
    height: 100%
}

.controls .buttons .bt.bt-play {
    display: inline-flex
}

.bpx-player-ctrl-time-label {
    padding: 0 10px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-variant-numeric: tabular-nums;
    font-family: 'Fira Sans', sans-serif
}

.volume-box {
    position: absolute;
    width: 50px;
    height: 160px;
    left: -15px;
    bottom: 4rem;
    background-color: #2b2b2b;
    border-radius: 6px;
    text-align: center;
    line-height: 2rem;
    place-items: center
}

.volume-bar {
    position: absolute;
    writing-mode: vertical-lr;
    direction: rtl;
    left: -2px;
    top: 0;
    width: 4px;
    height: 115px;
}

.out-box>.dashboard {
    flex-grow: 1;
    padding: 0 10px 10px;
    overflow: hidden auto
}

.out-box>.dashboard,
.video-layer {
    position: relative;
    box-sizing: border-box
}

.video-layer {
    width: 100%;
    aspect-ratio: 1920/1080;
    background-color: rgb(53 73 61);
    border: 1px solid #000
}

.video-layer:fullscreen {
    background-color: #000
}

.in-box {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard label[type=file] {
    margin: 0 5px;
}

.url-box,
label[type=button],
label[type=file] {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 5rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    border: 1px solid #123;
    /* margin: 5px; */
}

label[type=button]>input[type=button],
label[type=button]>span,
label[type=file]>input[type=file],
label[type=file]>span {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: none;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    display: inline-block
}


.url-box>.bt-play {
    border-width: 0 0 0 1px;
    margin: 0;
}

.hide {
    display: none !important
}

.box {
    position: relative;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px
}

.box.mt {
    margin-top: 10px
}

.box.mb {
    margin-bottom: 10px
}

.flex {
    display: flex
}

.flex.h {
    flex-direction: row
}

.flex.v {
    flex-direction: column
}

.address {
    line-height: 2rem;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden
}

.address input {
    appearance: none;
    border-radius: 0;
    outline: none;
    border: none;
    border-bottom: 1px dashed #000;
    margin: 3px 10px;
    font-family: Consolas, monospace
}

.address input:focus {
    border-bottom: 1px solid #000
}

.address button {
    margin: 3px 0
}