body,
body[theme=default] {
    --value-text-shadow: 0 0 .1rem #000;
    --value-box-shadow: 1px 1px 3px rgb(158, 158, 158);
    --text-shadow: #3d0505c9;
    --color-transparent: transparent;
    --color-text: #000;
    --color-link: #fff;
    --color-list: #000;
    --color-quickdelete: #73798d;
    --color-list-icon: darkgray;
    --color-switch: aliceblue;
    --color-list-icon-hover: darkturquoise;
    --color-search-button: rgb(68, 123, 201);
    --color-search-button-hover: rgb(45, 83, 136);
    --color-sub-title: rgb(1, 21, 63);
    --color-long-text: #353535;
    --color-border: #757575;
    --color-border-hover: #4f4f4f;
    --background-view: #00000040;
    --background-search: #efeff4;
    --background-tips: rgba(255, 255, 255, 0.568);
    --background-button: #f0f0f0;
    --background-button-hover: #e5e5e5;
    --background-scrollbar-thumb: rgba(45, 83, 136, 0.37);
    --background-hover: #ffffffaf;
    --background-switch-select: #368DEB;
    --background-switch: #98c6f8;
    --background-about: #21262881;
    --background-box: #efefef;
    --background-menu-list: rgb(233, 233, 233);
    --background-menu-list-hover: rgb(211, 211, 211);
    --background-content: #e1e1e1;
    --grayscale: grayscale(0);
}

div#main {
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 3rem 1fr 2fr 3rem;
    color: white;
    background: var(--background-view);
}

div#main>div.weather {
    position: relative;
    grid-area: 1/1/2/2;
}

div#main>div.menu {
    position: relative;
    grid-area: 1/2/2/3;
    text-align: right;
    line-height: 3rem;
    cursor: pointer;
}

div#main>div.search {
    position: relative;
    grid-area: 2/1/3/3;
}

div#main>div.links {
    position: relative;
    grid-area: 3/1/4/3;
    place-content: center;
    place-items: center;
    overflow: hidden;
}

div#main>div.about {
    position: relative;
    grid-area: 4/1/5/3;
}