html, body {
    margin: 0;
}

table#game-box {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #000000;
}

#game-outer {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    display: table;
    border-spacing: 0px;
    background-color: #cccccc;
    border: 1px solid #0b0b0b;
    table-layout: fixed;
}

#game-outer>tr {
    margin: 0;
    padding: 0;
}

#game-outer>tr>td {
    /* width: 30px;
    height: 30px; */
    padding: 0;
    background-color: aliceblue;
    background-image: url(block.png);
    background-size: 402% 200%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: 0 0;
    background-position: -100% 0;
}

#game-outer>tr>td.background-0 {
    background-position: 0 0;
}

#game-outer>tr>td.background-1 {
    background-position: 33.5% 0;
}

#game-outer>tr>td.background-2 {
    background-position: 66.7% 0;
}

#game-outer>tr>td.background-3 {
    background-position: 100% 0;
}

#game-outer>tr>td.background-4 {
    background-position: 0 101%;
}

#game-outer>tr>td.background-5 {
    background-position: 33.5% 101%;
}

#game-outer>tr>td.background-6 {
    background-position: 66.7% 101%;
}

#game-outer>tr>td.background-7 {
    background-position: 100% 101%;
}