body,
input,
button,
textarea,
.code {
    font-family: 'Consolas', 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

body,
.view {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

.fc {
    position: relative;
    flex-grow: 1;
}

.rc {
    width: 30%;
    min-width: 200px;
    background-color: azure;
}

.top-bar {
    overflow: hidden;
}

.flex-horizontal {
    display: flex !important;
}

input,
textarea {
    display: inline-block;
    outline: none;
    border: none;
    resize: none;
    border-radius: 0;
}

table.table {
    display: table;
    border-spacing: 0;
}

td {
    position: relative;
}

.input-box {
    position: relative;
    width: auto;
    min-width: 60px;
    height: 35px;
    line-height: 35px;
    margin: 5px 0 5px 5px;
    border: 1px solid rgba(223, 215, 202, .75);
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.input-box>b {
    background-color: Rgb(248, 245, 240);
}

.input-box>b.t-center {
    text-align: center;
    min-width: 30px;
}

.input-box>b.t-left {
    text-align: left;
    min-width: 60px;
}

.input-box>b.t-right {
    text-align: right;
    min-width: 15px;
}

.menu-box {
    position: absolute;
    border: 1px solid rgba(223, 215, 202, .75);
    width: 240px;
    height: auto;
    top: 30px;
    left: 10px;
    background-color: aliceblue;
    text-align: left;
    z-index: 5;
    display: none;
}

.menu-box:hover,
#flags-btn:hover~.menu-box {
    display: block;
}

.multi-line-editor {
    position: absolute;
    width: 99%;
    height: 99%;
    top:.5%;
    left: .5%;
    background-color: #edf3f2;
    overflow: scroll;
}

.multi-line-editor>.auto-height {
    position: relative;
    min-height: 100%;
    margin: 0;
}

.multi-line-editor>.code {
    font-size: 15px;
    white-space: pre;
    overflow-wrap: break-word;
    background-color: transparent;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 0;
    appearance: none;
    resize: none;
    min-width: 100%;
    min-height: 100%;
    /* position: relative; */
}

.code>span.selected {
    background-color: #FC9A23;
}

.code>span.selected.odd {
    background-color: #BD9C2B;
}

/* #text {
    color: transparent;
    caret-color: black;
} */

ul#flags {
    list-style: none;
    padding: 0;
}


ul#flags>li {
    list-style: none;
    line-height: 30px;
}

.scroll-view {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden scroll;
    background: transparent;

}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

table.reference, table.tecspec {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
}

table.reference tr:nth-child(odd) {
    background-color: #f6f4f0;
}

table.reference th {
    color: #fff;
    background-color: #555;
    border: 1px solid #555;
    font-size: 13px;
    padding: 3px;
    vertical-align: top;
    text-align: left;
}

table.reference td {
    line-height: 2em;
    min-width: 24px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}