html,
body,
textarea,
input,
button,
select,
td,
th {
	font-size: max(1.6vmin, 16px);
	font-weight: 300;
	resize: none;
	font-family: "MiSans", "Microsoft Yahei", "PingFang SC", Tahoma, Arial, Helvetica, Sans-Serif;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	box-sizing: border-box;
}

:root {
	--color-background: #f5f5f5;
	--color-dark: #a8a8a8;
	--color-dark-d: #a8a8a80a;
	--color-title: #E0B989;
	--color-highlight: #5d5553;
	--color-sub: #E0AA89;
	--color-sub-d: #E0AA89;
	--color-a: #2196F3
}

a,
a:active {
	color: inherit;
	text-decoration: none;
}

body,
.view {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	inline-size: 100%;
	block-size: 100%;
	overflow: hidden;
}

.unify {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
	background: none;
	border-radius: 0;
	margin: 0;
}

.unselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.grid-horizontal {
	display: grid !important;
	padding: 0;
	grid-auto-flow: row;
}

.grid-vertical {
	display: grid !important;
	padding: 0;
	grid-auto-flow: column;
}

.flex-horizontal {
	display: flex !important;
	padding: 0;
	flex-direction: row;
}

.flex-vertical {
	display: flex !important;
	padding: 0;
	flex-direction: column;
}

.fc,
.flex-horizontal>.fill,
.flex-vertical>.fill {
	position: relative;
	flex-grow: 1;
	min-inline-size: 0px;
	min-block-size: 0;
}

textarea#input-message {
	border: none;
	background: none;
	margin: 0.4rem 0;
}

.info .fc {
	block-size: 100%;
	margin: 0;
}

ul.fc.scroll li {
	background: azure;
}

ul.fc.scroll li:nth-child(even) {
	background: #ebebed;
}

.hide {
	display: none !important;
}

::-webkit-scrollbar {
	background-color: #00000000;
	inline-size: 0.2rem;
	block-size: 0.2rem;
}

::-webkit-scrollbar-thumb {
	background-color: #636363;
	border-radius: 0.5rem;
}

.scroll-x {
	overflow-y: scroll;
}

.scroll-y {
	overflow-y: scroll;
}

.justify-center {
	justify-content: center;
	justify-items: center;
}

.align-center {
	align-items: center;
	align-content: center;
}

.place-center {
	place-items: center;
	place-content: center;
}

[disabled]:disabled {
	cursor: not-allowed !important;
	opacity: 0.8;
}

button {
	background-color: var(--color-background);
	border: none;
	min-inline-size: 32px;
	min-block-size: 32px;
	border-radius: 16px;
	line-height: 0;
}

button>svg {
	touch-action: none;
	pointer-events: none;
	inline-size: 1rem;
	block-size: 1rem;
}

.dialog-content {
	inline-size: 20rem;
	max-inline-size: 80%;
	max-block-size: 80%;
	min-block-size: 5rem;
	background-color: var(--color-background);
	padding: 1rem;
	border-radius: 0.5rem;
}

.dialog-content[data-name="assistant"] button[name="submit"] {
	display: none;
}

@font-face {
	font-family: 'Noto Color Emoji Compat';
	src: url('../fonts/NotoColorEmoji-emojicompat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

button#send[name=send] {
	background-color: var(--color-a);
	color: white;
}

button#send[name=send]>svg.stop {
	display: none;
}

button#send[name=stop] {
	background-color: #cb9696;
	color: rgb(255, 0, 0);
}

button#send[name=stop]>svg.send {
	display: none;
}

#login-view .title {
	max-inline-size: 20rem;
}

#chat-view {
	background-image: url(../image/20210110174630_6b3c2.jpg);
	background-size: cover;
	max-inline-size: 100vmin;
	left: 50%;
	transform: translateX(-50%);
}

.top {
	block-size: 3rem;
	line-height: 3rem;
	font-weight: 600;
	background-color: var(--color-background);
	border-bottom: 1px solid #ddd;
}

header button,
.top button {
	aspect-ratio: 1;
}

#image>img {
	position: absolute;
	bottom: -30%;
	inline-size: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.chat-message-output-box {
	margin: 1rem 0;
	font-family: "MiSans", "Microsoft Yahei", "PingFang SC", Tahoma, Arial, Helvetica, Sans-Serif;
}

.chat-message-output-box[data-persona="system"] {
	display: none !important;
}

.chat-message-output-box[data-persona="tool"] .output,
.chat-message-output-box[data-persona="assistant"].tool_calls .output {
	inline-size: calc(100% - 4rem);

	.buttons {
		display: none !important;
	}

}

.chat-message-output-box[data-persona="user"] {
	flex-direction: row-reverse;
}

.chat-message-output-box[data-persona="user"] [name=remake],
.chat-message-output-box[data-persona="user"] [name=usage] {
	display: none;
}

.output {
	inline-size: auto;
	max-inline-size: calc(100% - 4rem);
}

.chat-message {
	/* border: 1px solid var(--color-highlight); */
	border-radius: 0.4rem;
	overflow: hidden;
	background-color: var(--color-background);
	box-shadow: 1px 1px 0px 0px var(--color-highlight);
}

.chat-message pre {
	max-inline-size: 100%;
	overflow: scroll;
	margin: 0;
}

.chat-message .message {
	padding: 0.2rem;
	font-weight: 400;
	white-space: pre-wrap;
	min-block-size: 1rem;
}

.chat-message>.chat-message-title {
	background-color: #dedede;
}

.chat-message>.chat-message-title>.state {
	background-color: var(--color-highlight);
	line-height: 2rem;
	padding: 0 0.2rem;
	color: bisque;
}

.chat-message-output-box[data-persona="user"] .chat-message>.chat-message-title>.state {
	background-color: rgb(53, 40, 88);
}

.chat-message>.chat-message-title>.think {
	white-space: pre-wrap;
	font-weight: 300;
}

.buttons {
	opacity: 0;
	gap: 0.4rem;
	padding-top: 0.2rem;
}

.chat-message-output-box:hover .buttons {
	opacity: 1;
}

.branch {
	background-color: var(--color-background);
	border-radius: 1rem;
}

.chat-message-input {
	padding: 0.4rem;
	background-color: var(--color-background);
	border-top: 1px solid #ddd;
}

span.dd {
	font-weight: 200;
}

.drawer-nav {
	position: absolute;
	background-color: var(--color-background);
	min-inline-size: 100px;
	max-inline-size: 70%;
	block-size: 100%;
	left: 0%;
	transition: left 0.3s ease-in-out;
	box-shadow: 2px 0px 10px 0rem rgba(0, 0, 0, 0.1);
	padding: 0 0.4rem;
}

.overlay {
	background-color: #80808080;
}

ul {
	list-style: none;
	padding: 0;
}

ul#character-list {
	overflow: hidden auto;
}

ul#character-list>li {
	place-items: center;
	margin: 0.6rem 0;
}


/* 表单整体 */
.login-form {
	background-color: var(--color-background);
	background-image: url(../image/20210110175241_cfe68.jpg);
	background-size: cover;
	gap: 1rem;
}

/* 横向行容器 */
.login-row {
	inline-size: 90%;
	justify-content: space-between;
	gap: 1rem;
	/* min-block-size: 2rem; */
}

/* 统一输入框样式 */
.login-input {
	padding: 0.6rem;
	border-radius: 0.5rem;
	inline-size: 90%;
	line-height: 1.2rem;
	box-sizing: border-box;
	background-color: var(--color-background);
}

.login-row>.login-input {
	inline-size: 100%;
}

/* 下拉选择框 */
.login-select {
	padding: 0.6rem;
	/* border: 1px solid #ddd; */
	border-radius: 0.5rem;
	box-sizing: border-box;
	background-color: var(--color-background);
}

/* 测试连接按钮 */
.login-btn,
.login-btn-primary {
	padding: 0.6rem;
	background-color: var(--color-a);
	color: white;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
	line-height: 1.2rem;
	flex: 1;
}

label.checkbox-button {
	block-size: 2rem;
	font-size: 13px;
	user-select: none;
}

label.checkbox-button input[type="checkbox"] {
	display: none;
}

.settings>button,
label.checkbox-button input[type="checkbox"]:checked+span {
	border: 1px solid var(--color-a);
	color: var(--color-a);
	background-color: #2195f30a;
	box-sizing: border-box;
}

label.checkbox-button>.outlay {
	border: 1px solid var(--color-dark);
	color: var(--color-dark);
	background-color: var(--color-dark-d);
	border-radius: 1rem;
	padding: 0 0.5rem;
	block-size: 100%;
	gap: 3px;
	user-select: none;
	box-sizing: border-box;
}

.tips {
	font-size: 0.8rem;
	color: var(--color-dark);
	padding: 0.4rem 0;
	gap: 0.4rem;
}

#data-dialog {
	inline-size: 80%;
	block-size: 80%;
}

.click {
	min-inline-size: 32px;
	min-block-size: 32px;
	border-radius: 16px;
	border: 1px solid var(--color-dark);
	padding: 0 0.4rem;
	font-size: 0.9rem;
	box-sizing: border-box;
	text-align: center;
}

#api-list {
	max-block-size: 50%;
	line-height: 2rem;
}

.gap-0_4rem {
	gap: 0.4rem;
}

.nli {
	padding: 0.4rem 0 0.4rem 0.4rem;
}

.archive summary {
	color: var(--color-a);
	padding: 0.4rem;
	cursor: pointer;
}

.hover:hover,
.hover:hover button {
	background-color: #ffffff;
	border-radius: 5px;
}

.subtitle {
	padding: 0 0 0 0.4rem;
}

.toast {
	position: fixed;
	inline-size: fit-content;
	block-size: fit-content;
	padding: 1rem;
	background-color: azure;
	left: 50%;
	top: 60%;
	font-weight: 600;
	transform: translate(-50%);
	border-radius: 0.4rem;
	box-shadow: 1px 1px 10px 2px #000;
	user-select: none;
	touch-action: none;
	pointer-events: none;
}

.dialog-progress {
	appearance: none;
}

@keyframes moveStripes {
	0% {
		background-position: 36px 0;
	}

	100% {
		background-position: 0 0;
	}
}

.dialog-progress::-webkit-progress-bar {
	background-color: cadetblue;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-size: 36px 36px;
	animation: moveStripes 1s linear infinite;
}