.chat-layer {
    background-image: url(/mediae/images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

.chat-box {
    width: 98%;
    height: 98%;
    /* border: 1px solid #000; */
    top: 1%;
    left: 1%;
}

.top {
    height: 2rem;
}

.view.scroll {
    overflow: hidden scroll;
}

.chat-list {
    line-height: 1.5rem;
}

.chat-list>div {
    position: relative;
    width: 100%;
    color: white;
    margin: 0;
    font-size: 1rem;
}

.chat-list>div>.text {
    width: fit-content;
    max-width: 90%;
    background: #856800;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}
.chat-list>div>.text>i {
    color: #b2b9b9;
}

.chat-list>div>.buttons {
    height: 1.5rem;
}

.chat-list>div[title=system] {
    font-size: 0.7rem;
    line-height: 1rem;
    /* padding: 0.5rem; */
    place-items: center;
    margin: 10px 0;
}

.chat-list>div[title=system]>.text {
    background: #ffffff91;
    color: #00528e;
    /* padding: 0.3rem 0.5rem; */
}

.chat-list>div[title=system]>.buttons {
    display: none !important;
}

.chat-list>div[title=user] {
    place-items: end;
}

.chat-input-box {
    height: 5rem;
    /* min-height: 100px; */
    /* max-height: 5rem; */
}