.title {
    background-color: #395a4b;
    color: white;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-family: Montserrat, 'Source Sans Pro', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans;
}

.mian-list {
    width: 20rem;
    background-color: #4b685b;
}